<div><img class='center' src="/assets/img/burger.png" alt="burger"></div>
<div>
  <h1>Eat-Da-Burger</h1>
</div>

<div class="row clearfix">
  <div class="leftside">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{else}}
      <li class='listitems'>
        <span class="crb">{{id}}. {{burger_name}}</span>
        <button data-id="{{id}}" class="btnDevour">Devour it!</button>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="rightside">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li class='listitems'>
        <span>{{id}}. {{burger_name}} </span>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<form action="/" method="POST" class='center create-form'>
  <textarea type="text" name="newburger" id="" cols="40" rows="8">
    </textarea>
  <div>
    <button type='submit'>Submit</button>
    <div>
      Enter a burger you want to eat. Click the 'Submit' button.
    </div>
  </div>
</form>