<div><img class='center' src="/assets/img/burger.png" alt="burger"></div>
<div>
  <h1>Eat-Da-Burger</h1>
</div>

<div class="row clearfix">
  <div class="leftside">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{else}}
      <li class='listitems'>
        <span class= crb>{{id}}. {{burger_name}} {{devoured}}</span>
        <button data-id="{{id}}" class="btnDevour">Devour it!</button>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="rightside">
    <ul>
     {{#each burgers}}
      {{#if devoured}}
      <li class='listitems'>
        <span>{{id}}. {{burger_name}} {{devoured}}</span>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<form class="create-form center">
  <div>   
    <textarea id="enterburger" name="newburger" rows="8" cols="40"></textarea>
  </div>
  <div>
  <button type="submit">Submit</button>
  </div>
  <label for="button">Enter a burger you want to eat. Click the 'Submit' button.</label>
</form>